# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
# *.json
# *.jsonl
*.run

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

eval_output_dir/
ckpt/
playground/
token_representation/
tmp*
debug*

# add 
*.csv 

outputs/ranking/
outputs/responses/
outputs/responses_fin/

eval